---

name: "Deployment of the Python package based on pyproject to PyPi"

################################################################################
# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      latest_python_version:
        description: "The latest Python version for executing linter tests."
        type: string
        default: "3.12"
      retention_days:
        description: "The days for keeping the generated packages at GitHub."
        type: number
        default: 8
      entrypoints:
        description: "A whitespace separated list of entrypoints, which are converted to executable Python scripts."
        type: string
        default: ''
      data_dir:
        description: "The data directory for containing man pages, i18n files a.s.o."
        type: string
        default: 'data'
    secrets:
      pypi_token:
        description: "The token to use for transmitting the package to PyPi"

################################################################################
jobs:

  ###########################
  deploy_to_pypi:
    runs-on: ubuntu-latest
    name: "Deploy Python package based on pyproject to PyPi"
    container: python:${{ inputs.latest_python_version }}
    env:
      PYPI_TOKEN_GIVEN: ${{ secrets.pypi_token && 'given' || 'NOT given' }}
    steps:
      - name: "Checking out the sources."
        uses: actions/checkout@v5

      - name: "Preparing the Debian container"
        uses: fbrehm/actions/.github/actions/prepare-debian-container@main
        with:
          manage_locales: false
          install_flit: true

      - name: "Installing necessary PIP modules."
        uses: fbrehm/actions/.github/actions/pyproject-install-pip-modules@main
        with:
          install_pytest: false
          install_linter_tools: false
          data_dir: ${{ inputs.data_dir }}

      - name: "Show Environment"
        shell: bash
        run: |
          echo "Bash enviroment:"
          env | sort
          echo -e "Python version:"
          source .venv/bin/activate
          python --version
          echo -e "Pypi token was ${PYPI_TOKEN_GIVEN}"

      - name: "Compiling i18n files ..."
        id: compile-i18n
        shell: bash
        run: |
          LOCALE_SRC_DIR_ROOT=locale
          if [[ -d "${LOCALE_SRC_DIR_ROOT}" ]] ; then
              if [[ -n "${{ inputs.data_dir }}" ]] ; then
                  echo "Compiling gettext locale files in directory '${LOCALE_SRC_DIR_ROOT}' ..."
                  target_root="${{ inputs.data_dir }}/share/locale"
                  count_po_files=$( find "${LOCALE_SRC_DIR_ROOT}" -type f -name '*.po' | wc -l )

                  if [[ "${count_po_files}" -lt 1 ]] ; then
                      echo "::error::Did not found any *.po files below '${LOCALE_SRC_DIR_ROOT}/'."
                  else
                      echo "Found ${count_po_files} *.po files."
                      echo "."
                      echo "Ensuring directory '${target_root}' ..."
                      mkdir --parent --verbose "${target_root}"

                      echo "Compiling:"
                      for locale_file in $( find "${LOCALE_SRC_DIR_ROOT}" -type f -name '*.po' ) ; do
                          base_stem=$( basename --suffix '.po' "${locale_file}" )
                          dir_name=$( dirname "${locale_file}" )
                          target_dir="${target_root}/${dir_name#locale/}"
                          echo "Ensuring existence of '${target_dir}/' ..."
                          mkdir --parent --verbose "${target_dir}"
                          target_mo_file="${target_dir}/${base_stem}.mo"
                          echo " * '${locale_file}' => '${target_mo_file}' ..."
                          printf '   '
                          msgfmt --statistics --output-file "${target_mo_file}" "${locale_file}"
                      done

                      echo "."
                      echo "Compiled locale dfinitions:"
                      find "${target_root}" -type f -iname '*.mo' | xargs ls -l

                      echo "."
                      echo "Removing now pointless directory '${{ inputs.data_dir }}/build' ..."
                      rm -rfv "${{ inputs.data_dir }}/build"

                  fi
              else
                  msg="There are obviously i18n data available in directory '${LOCALE_SRC_DIR_ROOT}', "
                  msg+="but there is no external data dir defined in pyproject.toml, where to put them."
                  echo "::error::${msg}"
              fi
          else
              echo "No generation of locale files possible, i18n directory '${LOCALE_SRC_DIR_ROOT}' does not exists."
          fi

      - name: "Building the Python packages and deploying it to PyPi."
        # uses: casperdcl/deploy-pypi@v2
        uses: fbrehm/actions/.github/actions/deploy-pypi@main
        with:
          password: ${{ secrets.pypi_token }}
          pip: wheel -w dist/ --no-deps .
          # build: clean sdist -d dist/ bdist_wheel -d dist/
          build: --outdir dist .
          check: false
          # only upload if a tag is pushed (otherwise just build & check)
          upload: ${{ github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && secrets.pypi_token != '' }}

      - name: 'Show results'
        shell: bash
        run: ls -l --color=always dist/

      - name: 'Upload Python Package'
        uses: actions/upload-artifact@v4
        if: ${{ github.ref_name == 'main' || github.ref_name == 'master' || startsWith(github.ref_name, 'test') || startsWith(github.ref_name, 'build') || github.ref_type == 'tag' }}
        with:
          name: python_pkgs
          path: dist/*
          retention-days: ${{ inputs.retention_days }}

# vim: et tabstop=2 expandtab shiftwidth=2 softtabstop=2 list
